.page-filter{
	border-top: solid 1px #ddd;
	background-color:#eee;
	padding:10px;
}
.page-filter select{
	width:100%;
}
.asset-title{
	text-align: left;
    font-size: 12pt;
    font-weight: 600;
    color: #241673;
	margin:5px -10px;
}
.assetCategory-content{
	border:solid 1px #ccc;
	padding:10px 5px;
	margin:0px;
}
.assetCategory .asset-thumbnail{
	text-align:center;
}
.assetCategory .asset-thumbnail img{
	width:100%;
	max-width:150px;
	*max-height:100px;
}
.assetCategory .asset-param td{
	
}

.assetCategory .asset-value{
	font-weight: 600;
}
.assetCategory  tr:nth-child(even) {
    background-color: transparent;
}
.assetCategory  .assetCategory-content td{
	padding:3px 5px;
	border:none;
}
.assetCategory  .assetCategory-content tr:nth-child(odd){
	
}

.assetCategory button{
	width:100%;
	max-width:100px;
	margin:3px;
}

.assetCategory .col-tight{
	padding:0px 5px;
}

.assetListContainer{
	padding-left:20px;
}

.assetCategory-tr > td{
	padding:0;
	padding-bottom:3px;
	border:none;
}

tr#template-mainList-row > td{
	border:none;
}

.filter-selecttable{
	width:100%;
}
.filter-selecttable td:first-child{
	width:70px;
	padding-right:7px;
	text-align:right;
	font-size:11pt;
}


.assetCategoryDetail{
	margin-top:20px;
}
.assetCategoryDetail td{
	padding:3px 5px;
}
.assetCategoryDetail .asset-value{
	font-weight:600;
	font-size:10pt;
}
.assetCategoryDetail .asset-param{
	width:30%;
	font-size:10pt;
}



/**/
.displayStyleContainer{
	float:right;
	*padding:3px;
	margin-left:10px;
}
.displayStyleContainer button{
	border:solid 1px #ddd;
	background-color:transparent;
	padding:7px;
	height:30px;
}
.displayStyleContainer button:hover{
	background-color:#eee;
}
.mainList_card{
	margin:5px -5px;
}
.mainList_card-item{
	padding:5px;
	height:260px;
}
.mainList_card-item-content{
	border:solid 1px #ddd;
	background-color:#fff;
}
.mainList_card-item-content-text{
	padding:10px;
}
.mainList_card-image{
	width:100%;
	height:120px;
	background-color:#222;
}
.mainList_card-image table{
	width:100%;
}
.mainList_card-image tr, .mainList_card-image tr > td{
	height:120px;
	text-align:center;
	cursor:pointer;
}
.mainList_card-image img{
	max-width:100%;
	max-height:100%;
}
.mainList_card-title{
	font-weight:600;
}
.mainList_card-title a{
	cursor:pointer;
}
.mainList_card-detail{
	margin-top:7px;
}
.mainList_card-detail td{
	padding:5px 3px;
	font-size:9pt;
	color:#999;
	width:50%;
}
.mainList_card-detail td i{
	width:13px;
}

/**/
[colName='thumbnail'] img{
	*width:100%;
	max-width:40px;
	max-height:40px;
	border:solid 1px #ddd;
}